{{ 'component-rich-text-with-media.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="rich-text-with-media page-width section-{{ section.id }}-padding" style="--media-radius: 16px">
  <div class="rich-text-with-media__container text-{{ section.settings.content_alignment }}">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h2 class="rich-text-with-media__heading heading-{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
        {%- when 'text' -%}
          <div class="media-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
        {%- when 'media' -%}
          {% liquid
            assign image_count = 1
            if block.settings.image_1 != blank and block.settings.image_2 != blank
              assign image_count = 2
            endif
          %}
          {% if block.settings.image_1 != blank or block.settings.image_2 != blank %}
            <div class="rich-text-with-media__images images-{{ image_count }}">
              {%- style -%}
                .media-height-{{ section.id }} {
                  {% if section.settings.mobile_height == 'adapt' and block.settings.image_1 != blank %}
                    height: 0px;
                    padding-bottom: {{ 1 | divided_by: block.settings.image_1.aspect_ratio | times: 100 }}%;
                  {% else %}
                    height: {{ block.settings.mobile_height }}
                  {% endif %}
                }
              
                @media screen and (min-width: 990px) {
                  .media-height-{{ section.id }} {
                    {% if section.settings.desktop_height == 'adapt' and block.settings.image_1 != blank %}
                      height: 0px;
                      padding-bottom: {{ 1 | divided_by: block.settings.image_1.aspect_ratio | times: 100 }}%;
                    {% else %}
                      height: {{ block.settings.desktop_height }};
                      padding-bottom: 0px;
                    {% endif %}
                  }
                }
              {%- endstyle -%}
              {% if block.settings.image_1 != blank %}
                <div class="rich-text-with-media__media first-image media-height-{{ section.id }}">
                  {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                  {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: image_count }}px,
                        (min-width: 750px) calc((100vw - 130px) / {{ image_count }}), calc((100vw - 50px) / {{ image_count }})
                      {%- endcapture -%}
                  {{
                    block.settings.image_1
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, 
                      widths: widths, 
                      alt: block.settings.image_1.alt, 
                      loading: 'lazy',
                      class: 'rich-text-with-media__image'
                  }}
                </div> 
              {% endif %}
              {% if block.settings.image_2 != blank %}
                <div class="rich-text-with-media__media second-image media-height-{{ section.id }}">
                  {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                  {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | plus: 100 | divided_by: image_count }}px,
                        (min-width: 750px) calc((100vw + 130px) / {{ image_count }}), calc((100vw + 50px) / {{ image_count }})
                      {%- endcapture -%}
                  {{
                    block.settings.image_2
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, 
                      widths: widths, 
                      alt: block.settings.image_2.alt, 
                      loading: 'lazy',
                      class: 'rich-text-with-media__image'
                  }}
                </div> 
              {% endif %}
            </div>
          {% endif %}
      {% endcase %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich text with media",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "First image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Second image"
        },
        {
          "type": "select",
          "id": "desktop_height",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to first image"
            },
            {
              "value": "618px",
              "label": "618px"
            }
          ],
          "default": "adapt",
          "label": "Desktop height"
        },
        {
          "type": "select",
          "id": "mobile_height",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to first image"
            },
            {
              "value": "289px",
              "label": "289px"
            }
          ],
          "default": "adapt",
          "label": "Mobile height"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Heading size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text with media",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
